body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-screen div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen img {
  max-width: 20%; 
  max-height: 20%; 
  object-fit: contain; 
}
